/* Set background image */
body {
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*Navbar item hover effect*/
.nav-item {
    position: relative;
}

.nav-item::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 3px;
    background-color: black;
    transform: translateX(-50%);
    transition: width 0.2s ease;
}

.nav-item:hover::after {
    width: 100%;
}

/*Dropdown menu hover effect*/
.dropdown:hover .dropdown-menu {
    display: block;
}